<footer>
  <div class="row">
    <div class="col">
      <a class="post-btn" [routerLink]="['/criar-artigo']" rel="noopener noreferrer">Adicionar post</a>
    </div>
    <div class="col">
      <p>Desafio <a href="http://www.marlin.com.br" target="_blank" rel="noopener noreferrer">Marlin</a> de Front End.
      </p>
    </div>
    <div class="col">
      <p>Desenvolvido por <a href="http://github.com/isa56" target="_blank" rel="noopener noreferrer">Isadora G.
          Ferreira</a>.</p>
    </div>
  </div>
</footer>
