.row {
  align-items: center;
  background-color: var(--pacific-blue);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2em;
  padding: 2em 0.5em;
  width: 100%;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.post-btn {
  background-color: white;
  border: none;
  border-radius: 0.2em;
  color: var(--pacific-blue);
  cursor: pointer;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
    padding: 1em 0;
    text-align: center;
  }

  .col {
    margin: 0.5em 0;
  }

}
