header {
  align-items: center;
  color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em 0;
  text-align: center;
}

h5 {
  font-size: 0.67em;
  font-weight: 400;
  margin-top: 1em;
}

@media screen and (max-width: 400px) {
  header {
    margin: 2em 0 1em;
  }
}
