.main-container {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .main-container {
    flex-direction: column-reverse;
  }
}
