.sidebar {
  min-width: 175px;
}

.sidebar-item {
  color: var(--gray);
  margin: 2rem 0;
}

.btn {
  display: none;
  font-size: x-large;
  text-align: center;
}

h6 {
  font-size: medium;
}

.category-ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.category-ul li {
  margin: 1rem 0;
  width: 100%;
}

.category-link {
  color: var(--gray);
  font-weight: lighter;
  text-decoration: none;
}

hr {
  color: #ccc;
  margin-top: 0.3rem;
}

@media screen and (max-width: 700px) {
  .sidebar {
    min-width: auto;
  }

  .btn {
    display: block!important;
  }

  .sidebar-item {
    /* display: none; */
  }
}
