.post-container {
  border-radius: 0.2em;
  box-shadow:  0 0.3em 0.3em 0.1em rgba(0,0,0,0.1);
  color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.8em;
  min-height: 36em;
  padding: 0 0 1em 0;
  width: 23em;
}

.post-container img {
  border-radius: 0.2em 0.2em 0 0;
  /* height: 100%; */
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.post-container h3 {
  font-weight: medium;
  padding: 0.5em 1em;
}

.post-container p {
  font-weight: medium;
  margin: 0;
  padding: 0.5em 1em;
}

.post-container a {
  color: var(--cyan-blue);
  cursor: pointer;
  font-weight: bolder;
  padding: 0 1em;
}

@media screen and (max-width: 1000px) {
  .post-container {
    margin: 0.8em 0.4em;
    width: 20em;
  }
}

@media screen and (max-width: 900px) {
  .post-container {
    margin: 0.8em 0.4em;
    min-height: auto;
    width: 16em;
  }
}

@media screen and (max-width: 700px) {
  .post-container {
    margin: 0.6em 0;
    width: 100%;
  }

  .post-container img {
    height: 170px;
    width: 100%;
  }
}
