/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --platinum: #e2e0e2;
  --gray: #424242;
  --dark-puce: #473c42;
  --rackley: #6288af;
  --pacific-blue: #12a1cc;
  --cyan-blue: #2793c4;
  --medium-blue: #044c91;
  --cool-blue: #0a2e5c;
  --independence: #5b546c;
  --crimson: #dc1830;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0;
  padding: 2rem;
}

.main-container {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--cyan-blue);
}

a:hover {
  color: var(--medium-blue);
}

a:visited {
  color: var(--pacific-blue);
}

@media screen and (max-width: 400px) {
  .container {
    padding: 0 1rem;
  }
  .main-container {
    flex-direction: column-reverse;
  }
}
